html, body {
  height: 100%;
  overflow: hidden;
}

#content {
  height: 100%;
  background-color: #ccc;
}

#toolbar {
  height: 43px;
  background-color: red;
}

#footer {
  background-color: green;
  height: 40px;
}

#inner {
  background-color: white;
}

#sidebar {
  width: 250px;
  background-color: #f0f0f0;
}
#sidebar ul {
  /*-webkit-flex: auto; /**/
}
#inner-content {
  background-color: #ccc;
}
#inner-content > div > div > div {
  width: 1000px; /**/
  background-color: #0099ff;
}


  /* hbox and vbox classes */
  /*
  .scrollbox {
      -webkit-flex: 1 1 auto;
      overflow: scroll;
      min-height: 100px;
      -webkit-overflow-scrolling: touch;
  }
  .scrollbox > * {
      height: 0;
      width: 0;
  }
  */
