/* line 3, ../sass/angular-layout.scss */
.scrollbox {
  position: relative;
  /**/
}

/* line 6, ../sass/angular-layout.scss */
.scrollbox > .scroll-viewport {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* line 15, ../sass/angular-layout.scss */
.scrollbox > .scroll-viewport > div {
  height: auto;
  width: auto;
  position: absolute;
}

/* line 21, ../sass/angular-layout.scss */
.hbox {
  display: -webkit-flex;
  -webkit-flex-flow: row;
  /* disponi elementi in orizzontale */
  -webkit-align-items: stretch;
  /* adatta in altezza tutti gli elementi al più alto */
}
/* line 26, ../sass/angular-layout.scss */
.hbox > * {
  -webkit-flex: 0;
  display: block;
  margin: 5px;
}

/* line 34, ../sass/angular-layout.scss */
.hbox > .hbox,
.hbox > .vbox {
  display: -webkit-flex;
}

/* line 38, ../sass/angular-layout.scss */
.vbox {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: stretch;
}

/* line 43, ../sass/angular-layout.scss */
.vbox > * {
  -webkit-flex: 0;
  display: block;
  margin: 5px;
}

/* line 49, ../sass/angular-layout.scss */
.vbox > .hbox,
.vbox > .vbox {
  display: -webkit-flex;
}
