@import "compass";

.scrollbox {
  position: relative; /**/
}
.scrollbox > .scroll-viewport {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;

}
.scrollbox > .scroll-viewport > div {
  height: auto;
  width: auto;
  position: absolute;
}

.hbox {
  display: -webkit-flex;
  -webkit-flex-flow: row; /* disponi elementi in orizzontale */
  -webkit-align-items: stretch; /* adatta in altezza tutti gli elementi al più alto */

  & > * {
    -webkit-flex: 0;
    display: block;
    margin: 5px;
  }
}

.hbox > .hbox,
.hbox >.vbox {
  display: -webkit-flex;
}

.vbox {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: stretch;
}
.vbox> * {
  -webkit-flex: 0;
  display: block;
  margin: 5px;
}
.vbox > .hbox,
.vbox >.vbox {
  display: -webkit-flex;
}
